USE [master]
GO
/****** Object:  Database [ReciclajeJuego]    Script Date: 06/03/2026 9:27:46 ******/
CREATE DATABASE [ReciclajeJuego]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ReciclajeJuego', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ReciclajeJuego.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ReciclajeJuego_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ReciclajeJuego_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ReciclajeJuego].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ReciclajeJuego]
GO
/****** Object:  Table [dbo].[ajustes]    Script Date: 06/03/2026 9:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ajustes](
	[ajustesID] [int] IDENTITY(1,1) NOT NULL,
	[usuarioID] [int] NOT NULL,
	[volumenGeneral] [int] NOT NULL,
	[volumenMusica] [int] NOT NULL,
	[volumenEfectos] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ajustesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contenedor]    Script Date: 06/03/2026 9:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contenedor](
	[contenedorID] [int] IDENTITY(1,1) NOT NULL,
	[tipoReciclaje] [varchar](50) NOT NULL,
	[color] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[contenedorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalles_modo]    Script Date: 06/03/2026 9:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalles_modo](
	[modoJuegoID] [int] NOT NULL,
	[vidas] [int] NULL,
	[tiempoLimite] [int] NULL,
	[comboMaximo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[modoJuegoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[juego]    Script Date: 06/03/2026 9:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[juego](
	[juegoID] [int] IDENTITY(1,1) NOT NULL,
	[usuarioID] [int] NOT NULL,
	[modoJuegoID] [int] NOT NULL,
	[puntuacionActual] [int] NOT NULL,
	[fechaInicio] [datetime] NOT NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[juegoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modo_juego]    Script Date: 06/03/2026 9:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modo_juego](
	[modoJuegoID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[modoJuegoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[residuo]    Script Date: 06/03/2026 9:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[residuo](
	[residuoID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
	[imagen] [varchar](255) NULL,
	[puntos] [int] NOT NULL,
	[contenedorID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[residuoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 06/03/2026 9:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[usuarioID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[correo] [varchar](150) NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
	[mejorPuntaje] [int] NOT NULL,
	[cuentaGoogle] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[contenedor] ON 

INSERT [dbo].[contenedor] ([contenedorID], [tipoReciclaje], [color]) VALUES (1, N'Basura', N'#26ec18')
INSERT [dbo].[contenedor] ([contenedorID], [tipoReciclaje], [color]) VALUES (2, N'Papel', N'#000000')
INSERT [dbo].[contenedor] ([contenedorID], [tipoReciclaje], [color]) VALUES (3, N'Basura comun', N'#2037ac')
SET IDENTITY_INSERT [dbo].[contenedor] OFF
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([usuarioID], [nombre], [correo], [contrasena], [mejorPuntaje], [cuentaGoogle]) VALUES (10, N'aaiaia', N'najajahytty@gmail.', N'bahahaaaggfff', 3345, 0)
INSERT [dbo].[usuario] ([usuarioID], [nombre], [correo], [contrasena], [mejorPuntaje], [cuentaGoogle]) VALUES (11, N'gggg', N' zbxhshshvvcccc@gmail.com', N'hshshsgggghhhh', 333339999, 0)
INSERT [dbo].[usuario] ([usuarioID], [nombre], [correo], [contrasena], [mejorPuntaje], [cuentaGoogle]) VALUES (12, N'xd', N'Emiliacamposcastillo@gmail.com', N'7777777777', 0, 0)
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
/****** Object:  Index [UQ__ajustes__A5B1ABAF6893CD46]    Script Date: 06/03/2026 9:27:48 ******/
ALTER TABLE [dbo].[ajustes] ADD UNIQUE NONCLUSTERED 
(
	[usuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__contened__98E9429C8370BF4B]    Script Date: 06/03/2026 9:27:48 ******/
ALTER TABLE [dbo].[contenedor] ADD UNIQUE NONCLUSTERED 
(
	[tipoReciclaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__modo_jue__72AFBCC62F4FD23B]    Script Date: 06/03/2026 9:27:48 ******/
ALTER TABLE [dbo].[modo_juego] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuario__2A586E0BE80BD6F9]    Script Date: 06/03/2026 9:27:48 ******/
ALTER TABLE [dbo].[usuario] ADD UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[juego] ADD  DEFAULT ((0)) FOR [puntuacionActual]
GO
ALTER TABLE [dbo].[juego] ADD  DEFAULT (getdate()) FOR [fechaInicio]
GO
ALTER TABLE [dbo].[juego] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[residuo] ADD  DEFAULT ((10)) FOR [puntos]
GO
ALTER TABLE [dbo].[usuario] ADD  DEFAULT ((0)) FOR [mejorPuntaje]
GO
ALTER TABLE [dbo].[usuario] ADD  DEFAULT ((0)) FOR [cuentaGoogle]
GO
ALTER TABLE [dbo].[ajustes]  WITH CHECK ADD FOREIGN KEY([usuarioID])
REFERENCES [dbo].[usuario] ([usuarioID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[detalles_modo]  WITH CHECK ADD FOREIGN KEY([modoJuegoID])
REFERENCES [dbo].[modo_juego] ([modoJuegoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[juego]  WITH CHECK ADD FOREIGN KEY([modoJuegoID])
REFERENCES [dbo].[modo_juego] ([modoJuegoID])
GO
ALTER TABLE [dbo].[juego]  WITH CHECK ADD FOREIGN KEY([usuarioID])
REFERENCES [dbo].[usuario] ([usuarioID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[residuo]  WITH CHECK ADD FOREIGN KEY([contenedorID])
REFERENCES [dbo].[contenedor] ([contenedorID])
GO
ALTER TABLE [dbo].[ajustes]  WITH CHECK ADD CHECK  (([volumenGeneral]>=(0) AND [volumenGeneral]<=(100)))
GO
ALTER TABLE [dbo].[ajustes]  WITH CHECK ADD CHECK  (([volumenMusica]>=(0) AND [volumenMusica]<=(100)))
GO
ALTER TABLE [dbo].[ajustes]  WITH CHECK ADD CHECK  (([volumenEfectos]>=(0) AND [volumenEfectos]<=(100)))
GO
ALTER TABLE [dbo].[juego]  WITH CHECK ADD CHECK  (([estado]='Finalizado' OR [estado]='Pausado' OR [estado]='Activo'))
GO
USE [master]
GO
