@model Reciclajejuego.AppMVC.Models.ModoJuego

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Está seguro que desea eliminar este registro?</h3>

<div>
    <h4>ModoJuego</h4>
    <hr />

    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />

        <input type="submit" value="Eliminar" />
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
