body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #012b12, #014421);
    color: white;
    text-align: center;
}


    .btn-ajustes:hover {
        transform: rotate(90deg) scale(1.1);
    }

.subtitulo {
    margin-bottom: 40px;
}
.btn-ajustes {
    position: absolute;
    top: 90px; /* antes 20px → ahora más abajo */
    right: 30px;
    width: 40px; /* más pequeño */
    height: 40px;
    background: #00cc44;
    color: #012b12;
    font-size: 20px; /* icono más pequeño */
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0,255,100,0.6);
    transition: 0.3s;
}

    .btn-ajustes:hover {
        transform: rotate(90deg) scale(1.1);
    }
.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin-top: 10px;
}

.fila {
    display: flex;
    gap: 18px;
}

.btn {
    width: 230px;
    padding: 12px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

    .btn:hover {
        transform: scale(1.05);
    }

.verde {
    background-color: #00cc44;
}

.azul {
    background-color: #3399ff;
}

.amarillo {
    background-color: #ffcc33;
    color: black;
}
